/* stylelint-disable unit-no-unknown */
/* stylelint-disable selector-id-pattern */

@import './fonts';
@import './tailwind';

.tippy-box[data-theme~='basic'] {
  @apply dark:bg-neutral-150 dark:text-neutral-800 bg-neutral-800 text-neutral-100;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

html,
body,
#__next {
  height: 100inner-vh;
  min-height: 100inner-vh;
}

svg * {
  transform-box: fill-box;
}

html {
  font-family: Poppins, sans-serif;
}

body {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

