import { FunctionComponent } from 'react';

import type { {{pascalCase name}}Props } from './{{pascalCase name}}.types';

/**
 * {{pascalCase name}} component.
 */
const {{pascalCase name}}: FunctionComponent<{{pascalCase name}}Props> = ({ className = '' }) => {
  return <h1 className={className}>{{pascalCase name}}</h1>;
};

export default {{pascalCase name}};
