import { createContext, useContext, FunctionComponent } from 'react';

type State = { null };

const {{pascalCase name}}StateContext = createContext<State | null>(null);

/**
 * The Provider for the {{pascalCase name}} context.
 */
const {{pascalCase name}}Provider: FunctionComponent = ({ children }) => {
  return (
    <{{pascalCase name}}StateContext.Provider value={null}>
      {children}
    </{{pascalCase name}}StateContext.Provider>
  );
};

/**
 * Wraps around the use context hook for the {{pascalCase name}} context.
 *
 * @throws use{{pascalCase name}} must be used within a {{pascalCase name}}Provider
 *
 * @returns The current context of the {{pascalCase name}}.
 */
const use{{pascalCase name}} = () => {
  const context = useContext({{pascalCase name}}StateContext);

  if (!context) throw new Error('use{{pascalCase name}} must be used within a {{pascalCase name}}Provider');

  return context;
};

export { {{pascalCase name}}Provider, use{{pascalCase name}} };
