/* stylelint-disable selector-id-pattern */

@import './tailwind';

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

html,
body,
#__next {
  min-height: 100vh;
  font-family: Poppins, sans-serif;
}


svg * {
  transform-box: fill-box;
}
