import Title from '@Helpers/Title';
import Container from '@Layouts/Container';
import ThemeSwitch from '@Elements/ThemeSwitch';

const {{pascalCase name}} = () => {
  return (
    <>
      <Title title={'Title'} />

      <Container>
        <ThemeSwitch position="upper_right" />
        <Container.Center>
          <h1>{{pascalCase name}}</h1>
        </Container.Center>
      </Container>
    </>
  );
};

export default {{pascalCase name}};
